body{
    background-color: lightcyan;
}

nav>ul>li{
    background-color: greenyellow;
    width: 300px;
    font-size: 50px;
    list-style: none;
    border: thick double #4a9a04;
    font-family: serif;
    text-align: center;
    transition: background-color 1.0s,width .5s;
    /* transition: width .5s; */
    /* transition: height 1s; */
}


ul>li:hover{
    background-color: gold ;
    /* width: 280px; */
    border: thick double #ff3f25;
    /* height: 130px; */
}

a{
    text-decoration: none;   
    color: black;
}

ul{
    display: flex;
    justify-content: space-evenly;
}

h1,h2{
    font-size: 60px;
    font-family: system-ui;
    margin-left: 30px;
    /* margin-top: 10px; */
}

h1{
    padding-top: 20px;
}

p{
    margin-left: 30px;
    margin-top: 10px;
}

.non,.non>a:hover{
    cursor: not-allowed;
}

header{
    background-color: rgb(127, 255, 155);
    height: 130px;
}
